<!-- Footer -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<footer id="footer">
    <section class="split contact" id="about">
        <section>
            <figure>
                <img src="/images/footer.jpg"  width="100%" alt="20Carbs - Fritzi Gandhi" title="20Carbs - Fritzi Gandhi" >
            </figure>
        </section>
    </section>

    <section class="split contact">
        <section>
            <div class="field">
                <label>MY STORY</label>
                <p>
                    Hi! I’m Fritzi.
                </p>
                <p>
                    I write the healthy keto recipes you'll find here at 20 Carbs. After 2 kids, I felt its time to focus back on me and so started doing Keto.  This is my journey.  I have always loved food and this is my way of sharing all the great recipes I enjoy!
                </p>
            </div>
        </section>

        {{ with $data.social }}
        <section>
            <h3>{{ i18n "CONTACT_SOCIAL" . }}</h3>
            <ul class="icons alt">
                {{ with .twitter}}
                <li><a href="{{ . }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                {{ end }}
                {{ with .facebook}}
                <li><a href="{{ . }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
                {{ end }}
                {{ with .instagram}}
                <li><a href="{{ . }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                {{ end }}
                {{ with .linkedin}}
                <li><a href="{{ . }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
                {{ end }}
                {{ with .github}}
                <li><a href="{{ . }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
                {{ end }}
                {{ with .youtube}}
                <li><a href="{{ . }}" class="icon alt fa-youtube" target="_blank"><span class="label">Youtube</span></a></li>
                {{ end }}
                {{ with .googleplus}}
                <li><a href="{{ . }}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google Plus</span></a></li>
                {{ end }}
                {{ with .lastfm}}
                <li><a href="{{ . }}" class="icon alt fa-lastfm" target="_blank"><span class="label">Last.fm</span></a></li>
                {{ end }}
                {{ with .flickr}}
                <li><a href="{{ . }}" class="icon alt fa-flickr" target="_blank"><span class="label">Flickr</span></a></li>
                {{ end }}
                {{ with .pinterest}}
                <li><a href="{{ . }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
                {{ end }}
            </ul>
        </section>
        {{ end }}



    </section>
</footer>
